body {
    background: #111;
    font-family: "Roboto Mono", monospace;
    color: white;
    margin: 0;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 20px;
    font-weight:normal;
    margin-top: 10px;
}

.subtitle {
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 20px;
}

/* Input box */
.note-input {
    text-align: center;
    margin-bottom: 20px;
    display: grid;
    height: 97vh;
    place-items: center; /* aligns the items vertically and horizontally */
    
}

.note-input textarea {
    width: 40%;
    height: 60%;
    padding: 10px;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    resize: none;
    outline: 0.5px;
    outline-color: white;
    background:none;
    color:white;
}

.note-input button {
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px 18px;
    font-size: 14px;
    border: none;
    background: whitesmoke;
    font-family: "Roboto Mono", monospace;
    color: black;
    cursor: pointer;
}

/* Board layout */
.notes-board {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 10px;
}

/* Sticky note style */
.note {
    background: #f7e08c;
    color: #333;
    padding: 15px;
    border-radius: 5px;
    transform: rotate(calc(var(--angle) * 1deg));
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    word-wrap: break-word;
    transition: transform 0.2s ease;
}

.note:hover {
    transform: scale(1.05) rotate(calc(var(--angle) * 1deg));
}
