html, body {
    background: black;
    margin: 0;
    height: 100%;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
  }
  .container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0px;
  }



  .map-image {
    width: auto;
    height: 100%;
    left: 0px;
    display: block;
  }


  .marker1 {
    position: absolute;
    top: 40%; 
    left: 60%;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%)
    
  }

  .marker2 {
    position: absolute;
    top: 50%; 
    left: 50%;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%)
    
  }


  .marker3 {
    position: absolute;
    top: 10%; 
    left: 20%;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%)
  }
  
  .label1, .label2, .label3 {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 50px;
    border-width: 4px;
    border-color: white;
    white-space: nowrap;
    top: 50vh; 
    left: 50vw;
    transform: translate(-50%, -120%);
    display: none;
  }

  .label1 h1, .label2 h1, .label3 h1 {
      font-size: 20px;
      font-weight: normal;
  }

  .label1 h2, .label2 h2, .label3 h2{
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px;
  }

  .label1 button, .label2 button, .label3 button {
    margin-top: 1px;
    position: absolute;
    top: 4px;
    right: 4px;
    background: none;
    color: white;
    border: none;
    font-size:25px;
    box-shadow: none;
    cursor: pointer;
  }

  .open-label{
    display:block;
  }